.donate {
  padding-top: 40px;

  &__charity-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    margin-bottom: 64px;
  }

  &__header {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
