@use "../../styles/mixins.scss" as *;
@use "../../styles/variables.scss" as *;

.recovery-tips {
  background-color: $secondary-background;
  padding: 16px;
  padding-top: 2rem;

  &__list {
    padding-left: 32px;
    padding-right: 16px;
    padding-top: 20px;
  }
}
