@use "../../styles/mixins.scss" as *;
@use "../../styles/variables.scss" as *;
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap"); // didn't get imported come back?

.disaster-card {
  width: 70%;
  box-shadow: $box-shadow;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: $border-radius-lg;
  overflow: hidden;

  color: $dark-text; // why not inherited?
  font-family: "Montserrat", sans-serif;
  color: $dark-text;

  &__buttons {
    @include flexbox;
    padding: 0 0.875rem;
    gap: 0.5rem;
    margin-bottom: 1.625rem;
  }

  &__footer {
    margin-top: 1.5rem;
  }

  &__footer-text {
    padding: 0 1.375rem;
  }

  &__img-container {
    position: relative;
  }

  &__img {
    height: 400px;
    width: 55%;
    margin: auto;
    padding: 10px 0px;
    object-fit: cover;
    object-position: top;
    border-radius: 7%;
  }

  &__name {
    text-align: center;
    //move to mixin?

    font-size: 1.75rem;
    font-style: normal;
    color: rgb(33, 24, 24);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    text-transform: uppercase;
  }
  
  &__status {
    position: absolute;
    top: 1.25rem;
    right: 1.375rem;
    width: 20%;
  }

  &__date {
    font-size: 1.125rem;
    margin-top: 19px;
    margin-bottom: 19px;
    text-align: center;
    &--highlight {
      font-weight: 600;
    }
  }
}
