.disaster-detail-hero {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  text-align: center;

  &__disaster-name {
    text-transform: uppercase;
    margin-top: 2rem;
    font-size: 24px;
    font-weight: 700;
  }

  &__map-container {
    position: relative;
    width: 50%;
    // padding: 0 1rem;
    margin-top: 30px;
  }

  &__map {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__map-disaster-status {
    position: absolute;
    top: 17px;
    right: 17px;
  }

  &__about-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 10px;
    gap: 2rem;
  }

  &__impact-section {
    // border: 1px solid red;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 20px;
  }

  &__impact-list {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    flex-wrap: wrap;
    // gap: 1rem;
    // padding-left: 1rem;
    margin-top: 25px;
    margin-bottom: 25px;
  }

  &__impact-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-right: 2rem;
    margin-bottom: 1rem;
  }

  &__impact-value {
    font-weight: 600;
    font-size: 30px;
  }

  &__impact-metric {
    font-size: 20px;
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 80%;
    margin-bottom: 3rem;
  }
}
