@use "../../styles/mixins.scss" as *;

.disaster-list {
  padding: 1rem;
  @include flexbox($direction: column);
  gap: 1.25rem;

  &__see-all {
    margin-top: 5px;
  }
  &__icon {
    margin-left: 10px;
  }
}
